<script lang="ts" context="module">
	let _id: number = 0;
	const getId = () => ++_id;
</script>

<script lang="ts">
	import { Card, Dropdown, DropdownDivider, DropdownItem, ToolbarButton } from 'flowbite-svelte';
	import type { IPlace } from './places';
	export let place: IPlace;

	const id = 'tlb-' + getId();

	export function editPlace() {
		console.log('editPlace', place);
	}

	
</script>

<Card class="m-4">
	<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white flex flex-row">
		<div clasBs="grow">{place.name}</div>
		<div>
			<ToolbarButton {id} class="dots-menu text-gray-900 bg-white dark:text-white dark:bg-gray-800">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
					/></svg
				>
			</ToolbarButton>
			<Dropdown class="w-44" triggeredBy={'#' + id}>
				<DropdownItem on:click={editPlace}>Edit {place.name}</DropdownItem>
			</Dropdown>
		</div>
	</h5>
	<p class="font-normal text-gray-700 dark:text-gray-400 leading-tight">
		{place.desc}
	</p>
</Card>
