<script lang="ts">
	import { Button, Card } from 'flowbite-svelte';
	import { places } from './places';
	import Place from './Place.svelte';
</script>

<div class="p-8">
	<h3>Places</h3>

	<div class="p-8">
		{#each places as place}
			<Place {place} />
		{/each}
	</div>
</div>
